.listStyle{ 
	margin-top:1em;
	width:100%; 
	height: 400px;
	overflow:scroll;
	table-layout:fixed;
}

.listStyle tr td{ 
	border:1px 
	solid gray;
	height:100px;
	width:25%;
}

.listStyle td {
	text-align: center;
	width:25%;
}

#post_list{ 
	width:100%;
	table-layout:fixed;
}
