.textBox{
	margin-bottom:10px;
}

.btnTextMargin{
	margin:20px;
	text-align:center;
}

#postListView {
	list-style: none;
	padding: 1em;
	border: 0px ;
	margin: 1em ;
	height: 50em;
	overflow: auto;

}
.postListView {
    margin-top:1em;
	border: 1px;
    padding: 0.2em;
    height:14em;
    background-color: #eee;
}

.commentsListView {
    display: none;
    padding: 0.4em;
    background-color: #DADADA;
}

.postViewHeading{
	text-overflow: ellipsis;
	display:inline;
	margin-right: 0.5em;
}
.postViewBody{
	height: 7.5em;
}
.postViewSubHeading{
	text-overflow: ellipsis;
	display: inline;
	color:grey;
}
.postViewPermissionFooter{
	text-overflow: ellipsis;
	display: inline;
	color:grey;
	position: relative;
	left:1em;
}
.postViewTimeFooter{
	text-overflow: ellipsis;
	display: inline;
	color:grey;
	position: relative;
	left:1em;
}
.postViewComment{
    text-overflow: ellipsis;
	display: inline;
	color:grey;
	position: relative;
	left:1em;
}
.postEditTitle{
	margin-bottom: 1em;
}
