.textBox{
	margin-bottom:10px;
}

.btnTextMargin{
	margin:20px;
	text-align:center;
}

#postListView {
	list-style: none;
	padding: 1em;
	border: 0px ;
	margin: 1em 0;
	height: 100em;
	overflow: scroll;

}
#postListView li {
	border: 1px 
	solid #ddd;
    margin: 0.25em; 
    padding: 0.5em;
    height:10em;
    background-color: #eee;
}