<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Distrubute Social Network</title>

    <!-- Bootstrap -->
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
     <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
     <!-- Struct css-->
     <link href="{{url_for('static',filename='css/struct.css')}}" rel="stylesheet">
     <link href="{{url_for('static',filename='css/permission.css')}}" rel="stylesheet">
     <script src="{{url_for('static',filename='js/jquery-1.10.2.min.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/json2.js')}}"></script>
    
  </head>
  <body>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <!-- Table -->
  <table class="table">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <p class="form-control">Hi
            <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-star"></span> Star
            </button>
          </p>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-star"></span> Star
          </button>
          </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
  </table>
</div>
  </body>
  </html>