<div class="table-responsive">
  <table class="table table-hover">  
    <thead>
      <tr>
        <th>#</th>
        <th>Author Name</th>
        <th>Nick Name</th>
        <th>Operations</th>
          <th><button type="button" class="btn btn-default btn-xs" id="admin_refresh_bt">
             <span class="glyphicon glyphicon-refresh">Refresh</span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody id="admin_author_table">
        <tr><td>1</td><td>hello</td><td>world</td><tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination pagination-sm" id="admin_page_number">
      <li id="admin_page_num_begin"><a href="#" >&laquo;</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>