<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Distrubute Social Network</title>

  <!-- Bootstrap -->
  <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
  <!-- Struct css-->
  <link href="{{url_for('static',filename='css/struct.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/permission.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/bootstrap-markdown.min.css')}}" rel="stylesheet">
  <!--jquery Ui CSSS-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{{url_for('static',filename='js/jquery-1.10.2.min.js')}}"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/json2.js')}}"></script>
      <script src="{{url_for('static',filename='js/jquery.validate.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/jquery.form.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/bootstrap-tooltip.js')}}"></script>
      <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    </head>
    <body>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Stream</a></li>
              <li><a href="#" id="redirectToMyPost">Post</a></li>
              {%if session.logged_in%}
              <li class="Partner">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Circles <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0);" onclick="javascript:search_click()">Search Author</a></li>
                  <li><a id='view_circles' href="javascript:void(0);">View Circles</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              {%endif%}
            </ul>
            <form class="navbar-form navbar-left">
              <div class="form-group" id="search_form">
                <input type="text" class="form-control" placeholder="Author Name" id="search_input">
              </div>
              <button type="submit" class="btn btn-default" id="search_button"><span class="glyphicon glyphicon-search"></span></button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              {%if not session.logged_in%}
              <li><button id ="modal_bt" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal">Login</button></li>
              {%else%}
              <li class="dropdown">
                <a class="dropdown-toggle" onclick="javascript:refresh_message_list()" id ="message_menue" data-toggle="dropdown" >Message <span class="badge" id="msgCount">{{ msgCount }} </span></a>
                {%endif%}
                <ul class="dropdown-menu" id="message_dropdown1" aria-labelledby="message_menue">
                  <li class="divider" id="divider"></li>
                  <li><a href="#">Clear All</a></li>
                </ul>
              </li>
              <li class="dropdown">
                {%if not session.logged_in%}
                <li><a href="#">Guest</a></li>
                {%else%}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{session.logged_in}} <b class="caret"></b></a>
                {%endif%}
                <ul class="dropdown-menu">{%if session.admin_model%}
                  <li><a href="#" id="admin_bt">Admin</a></li>{%endif%}
                  <li><a href="#" id="change_pwd_bt">Change Password</a></li>
                  <li><a href="#">Change Setting</a></li>
                  <li class="divider"></li>
                  <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!--Begin of change pwd modal-->
      <div class="modal fade" id="change_pwd_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Change your Password</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" id="change_pwd_form" method="post">
                <div class="form-group">
                      <label class="col-sm-2 control-label">Password</label>
                      <div class="col-sm-10">
                        <input type="password" id="change_pwd" class="form-control" name="register_pwd" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Retype Password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" name ="re_pwd" id="re_pwd" placeholder="Password">
                      </div>
                    </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="submit_new_pwd">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
              </button>
              <h4 class="modal-title" id="modal_title">Welcome</h4>
            </div>
            <div class="modal-body">
              <form id="login_form"  class ="form-horizontal" action="{{url_for('login')}}" method="post">
                <div class="form-group">
                  <label for="exampleInputAuthorname">Author Name:</label>
                  <input type="text" class="form-control" name="username" id="login_username" placeholder="Enter Author Name" autofocus>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password:</label>
                  <input type="password" class="form-control" name="password" id="login_password" placeholder="Password" required>
                  <a href="{{authorize_url}}">Sign in with GitHub</a>
                </div>
              </form>
              <form class="form-horizontal" id="register_form" method="post" enctype="multipart/form-data">
                <!--register form-->
                <div class="panel panel-default">
                  <div class="panel-heading">Required Information</div>
                  <!--begin required information-->
                  <div class="panel-body">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Author Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="author_name" name="author_name" placeholder="Author Name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Password</label>
                      <div class="col-sm-10">
                        <input type="password" id="register_pwd" class="form-control" name="register_pwd" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Retype Password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" name ="re_pwd" id="re_pwd" placeholder="Password">
                      </div>
                    </div>
                  </div>
                </div>
                <!--End requirement pannel-->
                <!--begin personal information pannel-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <button type="button" class="btn btn-default btn-xs" id="switcher">
                      <span class="glyphicon glyphicon-chevron-up" id="button_image"></span>
                    </button>
                    Personal Information (Option)
                  </div>
                  <div class="panel-body" id="personal_body">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Nick Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="nick_name" placeholder="Nick Name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Birthday</label>
                      <div class="col-sm-10">
                        <input type="text" name ="birthday" id="datepicker" class="form-control" placeholder="Birthday">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Profile Upload</label>
                      <div class="col-sm-10">
                        <input type="file" name="profile_image" id="profile">
                        <p class="help-block">Size of file is up to <strong>5 MB</strong></p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">City</label>
                      <div class="col-sm-10">
                        <input type="text" name ="city" id="city" class="form-control" placeholder="City" autocomplete="on">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Gender</label>
                      <div class="col-sm-10">
                        <div class="radio">
                          <label>
                            <input type="radio" name ="gender" value="male">Male
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name ="gender" value="Female">Female
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End personal information pannel-->
                </div>
                
              </form>
            </div>
            <!--End of register form-->
            <font color="red"><strong id="error_code"></strong></font>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" id="re_button">Register</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id ="button_login" >Log in</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!--Begin of search author modal-->
      <div class="modal fade" id="search_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Add Authors</h4>
            </div>
            <div class="modal-body">
              <div class="table-responsive">
                <table class="table table-hover">  
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Author Name</th>
                      <th>Nick Name</th>
                      <th><th>
                      </tr>
                    </thead>
                    <tbody id="add_all_author_table">
                      <tr><td>1</td><td>hello</td><td>world</td><tr>
                      </tbody>
                    </table>
                  </div>
                  <ul class="pagination pagination-sm" id="page_number">
                    <li id="page_num_begin"><a href="#" >&laquo;</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- Endo of modal -->
          <div id="view_circle_modal">
          </div>
          <div id="struct-content"></div>
          
          <script src="{{url_for('static',filename='js/main.js')}}"></script>
          {%if session.logged_in%}
          <script>
        // Gobal Session info(author_name,author_id)
        var $authorName = "{{session.logged_in}}";

        var $authorid = "{{session.logged_id}}";

        var $github = "{{github}}";
        </script>
        <!--add author js-->
        <script src="{{url_for('static',filename='js/addauthor.js')}}"></script>
        <script src="{{url_for('static',filename='js/struct.js')}}" ></script>
        <script src="{{url_for('static',filename='js/profile.js')}}"></script>
        <script src="{{url_for('static',filename='js/circle.js')}}"></script>
        <script src="{{url_for('static',filename='js/bootstrap-markdown.js')}}"></script>
        <script src="{{url_for('static',filename='js/markdown.js')}}"></script>
        <script src="{{url_for('static',filename='js/to-markdown.js')}}"></script>
        {%endif%}
        {%if session.admin_model%}
        <script src="{{url_for('static',filename='js/sco.collapse.js')}}"></script>
        <script src="{{url_for('static',filename='js/sco.modal.js')}}"></script>
        <script src="{{url_for('static',filename='js/sco.confirm.js')}}"></script>
        <script src="{{url_for('static',filename='js/admin.js')}}"></script>
        {%endif%}
      </body>
      </html>
