<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

 	<!-- Bootstrap -->
  	<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
  	<link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
  	<!-- Struct css-->
  	<link href="{{url_for('static',filename='css/mypost.css')}}" rel="stylesheet">
  	<link href="{{url_for('static',filename='css/permission.css')}}" rel="stylesheet">
  	<!--jquery Ui CSSS-->
  	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> 
  	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
      	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      	<![endif]-->
      	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      	<script src="{{url_for('static',filename='js/jquery-1.10.2.min.js')}}"></script>
      	<!-- Include all compiled plugins (below), or include individual files as needed -->
      	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
      	<script src="{{url_for('static',filename='js/json2.js')}}"></script>
      	<script src="{{url_for('static',filename='js/jquery.validate.min.js')}}"></script>
      	<script src="{{url_for('static',filename='js/jquery.form.min.js')}}"></script>
      	<script src="{{url_for('static',filename='js/bootstrap-tooltip.js')}}"></script>
      	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>
<table id="post_edit">
	<colgroup>
		<col class = "col_date">
		<col class = "col_title">
		<col class = "col_type">
		<col class = "col_content">
		<col class = "col_permission">
		<col class = "col_edit">
		<col class = "col_delete">
	</colgroup>
	<tbody>
		<tr>
			<th>Date</th><th>Title</th><th>Type</th><th>Content</th><th>Permission</th><th>Edit</th><th>Delete</th>
		</tr>
	</tbody>
</table>
      	<!-- permission modal: is hidden by default-->
      	<div class="post modal fade" id="editMyPost">
        	<div class="modal-dialog">
          		<div class="modal-content">
            			<div class="modal-header">
              				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              				<h4 class="modal-title" id="modal_title">Shared with</h4>
            			</div>
            			<div class="modal-body">
					<form >
    					<!-- Mid panel -->
    					<div id="struct-message-panel" class="col-md-6" >
      					<!-- the mid-upper div -->
      					<div>
        					<input id ="title"type="text" class="postEditTitle form-control " placeholder="title">
        					<input id ="pid"type="hidden">
        					<input id ="permission"type="hidden">
        					<textarea id="content" type="text" class=" textBox form-control" rows="5" placeholder="Please post here..."></textarea>
        					<div class="btn-toolbar" role="toolbar" >
          						<!-- Dropdown -->
          						<div class="btn-group" >
            							<button id="postSelectedType" class="btn btn-default status">Text</button>
            							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              								<span class="caret"></span>
            							</button>
            							<ul class="dropdown-menu dropdown-inverse" role="menu">
              								<li id="textOption"><a>Text</a></li>
              								<li id="picOption"><a>Picture</a></li>
              								<li id="htmlOption"><a>HTML</a></li>
            							</ul>
							</div>
          						<button id="postPermissionBtn" type="button"  class="btn btn-default " data-toggle="modal" data-target="#postingPermissionModal" >Permission</button>
          						<button id="postPicture" type="button" class = "btn btn-default" data-toggle = "modal" data-target="#uploadPicture">Add picture</button>
						</div>
					</div>
					</div>
					
					</form>
            			</div>
            			<div class="modal-footer">
         				<button type="button" class="btn btn-primary" id ="permissionEditFinish" data-dismiss="modal">Save</button>
         				<button type="button" class="btn btn-primary" id ="permissionEditCancel" data-dismiss="modal">Cancel</button>
            			</div>
          		</div><!-- /.modal-content -->
        	</div><!-- /.modal-dialog -->
      	</div><!-- /.modal -->
	<div class = "modal fade" id = "uploadPicture" tabindex = "-1" role = "dialog" aria-labelledby = "uploadPictureLabel" aria-hidden = "true">
  		<div class = "modal-dialog">
   			<div class = "modal-content">
     				<form id="uploadImage_form"  class ="form-horizontal" action="{{url_for('upload')}}" method="post" enctype="multipart/form-data">
     					<div class = "modal-header">
       						<h4 class = "modal-title" id = "uploadPictureLabel">Select picture</h4>
     					</div>
    					<div class = "modal-body">
       						<label for = "InputFile">Choose your portrait: </label>
       						<p class="help-block"> Jepg,Bmp,or Png file only. No more than 1MB.</p>
       						<input type="file" name ="img_file" onchange="readURL(this);"/>
       						<img id ="blah" src="#" alt="your image" />     
    					</div>
    					<div class = "modal-footer">
        					<button type = "button" class = "btn btn-default" data-dismiss= "modal">Close</button>
        					<button id = "postImagebtn" type = "button" class = "btn btn-primary">Save picture</button>
    					</div>
  				</form>
 			</div>
 		</div>
	</div>
      	<div class="modal fade" id="postingPermissionModal">
        	<div class="modal-dialog">
          		<div class="modal-content">
            			<div class="modal-header">
              				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              				<h4 class="modal-title" id="modal_title">Shared with</h4>
            			</div>
           	 		<div class="modal-body">
              				<select name = "permission" onchange = "permission_selected(this)">
                				<option value="type" autocomplete="off" selected >Type</option>
                				<option value = "public" autocomplete="off">Public</option>
                				<option value = "me" autocomplete="off">Me</option>
                				<option value = "friends" autocomplete="off">Friends</option>
                				<option value = "fof" autocomplete="off">Friend's friend</option>
                				<option value = "fomh" autocomplete="off">Friend of my host</option>
                				<option value = "specify" autocomplete="off">Specify</option>
                				<!--<option value = "fomh">friends on my host</option>-->
              				</select>
              				<div class="listStyle" id="listStyle">
                				<table id="post_list">
                				</table>
              				</div>
            			</div>
            			<div class="modal-footer">
         				<button type="button" class="btn btn-primary" id ="permissionSelectedAll" >SelectAll</button>
         				<button type="button" class="btn btn-primary" id ="permissionAntiSelect" >AntiSelect</button>
         				<button type="button" class="btn btn-primary" id ="permissionClearAll" >ClearAll</button>
         				<button type="button" class="btn btn-primary" id ="permissionEditSelected">Submit</button>
            			</div>
          		</div><!-- /.modal-content -->
        	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
        <div>
        	<button type = "button" class = "btn btn-default" id="back">Back</button>
        </div>
	<script src="{{url_for('static',filename='js/mypost.js')}}"></script>
       	<script>
        // Gobal Session info(author_name,author_id)
        var $authorName = "{{session.logged_in}}";

        var $authorid = "{{session.logged_id}}";
        </script>
</body>
</html>
