<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Distrubute Social Network</title>
<!-- Bootstrap -->
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
     <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
     <!-- Struct css-->
     <link href="{{url_for('static',filename='css/struct.css')}}" rel="stylesheet">
     <link href="{{url_for('static',filename='css/permission.css')}}" rel="stylesheet">
     <!--jquery Ui CSSS-->
     <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{url_for('static',filename='js/jquery-1.10.2.min.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/json2.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.validate.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.form.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/profile.js')}}"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  </head>
<body>
    <div id="struct-right-panel" class="col-md-3" >
      <div class="panel panel-info">
      <!-- Default panel contents -->
      <!-- Table -->
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
            <h5>User Name<span class="label label-default">Edit</span></h5>
            <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img data-src="upload/image/profile-img.png" alt="...">
                <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              </div>
              </div>
            </div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>
